{% extends asset('base.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="divMessage" id="divMessage">
        {% if messages is empty %}
            <div class="noMessage"><span>Aucun message</span></div>
        {% else %}
            {% for message in messages %}
                <div {% if message.idUser == id %} class="bubbleRight" {% else %} class="bubbleLeft"{% endif %}>
                    <span>{{ message.message }}</span>
                </div>
                {% if message.idUser != id %}
                <div class="bubbleLeftSmall">
                    <span>{{ message.username }}</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="input-group mb-3 divInputMessage">
        <input id="inputMsg" type="text" class="form-control" maxlength="255" placeholder="Ecrivez un message..." aria-label="Recipient's username" aria-describedby="basic-addon2" style="border: 1px solid grey">
        <div class="input-group-append">
            <button class="btn btn-outline-info btnSend" type="button" onclick="sendMsg()"><i class="fab fa-telegram-plane"></i></button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            let div = document.getElementById("divMessage");
            div.scrollTop = div.scrollHeight;
        });

        // Get the input field
        let input = document.getElementById("inputMsg");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.key === "Enter") {
                sendMsg();
            }
        });

        function sendMsg(){
            let input = document.getElementById("inputMsg");
            let msg = input.value;
            let div = document.getElementById("divMessage");
            div.innerHTML += `<div class="bubbleRight slide-left"> <span>${msg}</span></div>`;

            div.scrollTop = div.scrollHeight;
            input.value = "";

            if(msg != null && msg !== "" && msg.replace(" ","").replace("\n","") !== ""){
                let Route = '{{ path('send_msg') }}';
                $.ajax({
                    url : Route,
                    type : 'POST',
                    data : "msg=" + msg,
                    dataType : 'json',
                    success: function () {
                        div.lastElementChild.classList.remove("slide-left");
                    }
                });
            }
        }

    </script>
{% endblock %}